* {
    margin: 0;
    padding: 0;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
   
}

header h1 {
    display: inline-block;
    color: #40E0D0 ;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;

}

nav {
    margin: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    min-width: 300px
    
    
}

nav a {
    color: #40E0D0;
    font-weight: bold;
    font-size: 20px;
   
    
}

.intro {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: #40E0D0;
}

.img-me {
   max-width: 100%;
   height: auto;
   max-height: 500px;
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
  padding: 30px;
   border: 30px solid #40E0D0;
   
   
}

.Infomation {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

.Infomation h2 {
    font-size: 2rem;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 2rem;
}
.link1 {
    height: auto;
    max-height: 300px;
    max-width: 100%;
}

.link2 {
    max-height: 300px;
    max-width: 100%;
}

.link3 {
    max-height: 300px;
    max-width: 100%;
}


.text-center {
text-align: center;
}

.liststyle {
    float: left;
}